<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Mar Escola de Mergulho</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="hero-container">

    <!-- Vídeo de fundo -->
    <video autoplay muted loop playsinline class="background-video">
      <source src="{{ url_for('static', filename='movies-picture/movie/video2.mp4') }}" type="video/mp4" />
      Seu navegador não suporta vídeos HTML5.
    </video>

    <!-- Sobreposição escura por cima do vídeo -->
    <div class="overlay"></div>

    <!-- Cabeçalho -->
    <header>
      <div class="logo-title" aria-label="Logo e nome do site">
        <div class="logo" aria-hidden="true">M</div>
        <div class="title-text">Marés da Cultura</div>
      </div>
      <nav aria-label="Navegação principal">
        <a href="#" class="active" aria-current="page">Início</a>
        <a href="#">Sobre</a>
      </nav>
    </header>

    <!-- Conteúdo principal -->

    <div class="informative-start">
      <h1> Maré de <br>
        histórias vivas</h1>
      <p>A O oceano não guarda só águas profundas, mas histórias que moldam identidades.</p>
      <button class="btn-agendar" aria-label="Agendar agora">
        Conheça mais
      </button>
    </div>
  </div>

  <main>
    <div style="background-color: white;">
      <section class="carrosell">
        <div class="image-container">
          <img src="../static/movies-picture/picture/nada.png" alt="">
          <div class="image-text">
            A<br><span>Definir</span>
          </div>
        </div>
        <div class="image-container">
          <img src="../static/movies-picture/picture/nada.png" alt="">
          <div class="image-text">
            A<br><span>Definir</span>
          </div>
        </div>
        <div class="image-container">
          <img src="../static/movies-picture/picture/nada.png" alt="">
          <div class="image-text">
            A<br><span>Definir</span>
          </div>
        </div>
      </section>
    </div>

    <section class="what-we-do">
      <h2>Titulo a Definir</h2>
      <div class="cards-container">
        <div class="card">
          <img src="icons/beach-cleanup.svg" alt="Beach Cleanup Icon">
          <h3>A Definir</h3>
          <p>
            Lorem adipisicing elit. Illum temporibus atque odio velit fuga iste tempora eveniet ipsum non cupiditate a
            excepturi vero vitae ab ducimus sed quisquam, sit nostrum.
          </p>
        </div>
        <div class="card">
          <img src="icons/raising-awareness.svg" alt="Raising Awareness Icon">
          <h3>A Definir</h3>
          <p>
            Lorem adipisicing elit. Illum temporibus atque odio velit fuga iste tempora eveniet ipsum non cupiditate a
            excepturi vero vitae ab ducimus sed quisquam, sit nostrum.
          </p>
        </div>
        <div class="card">
          <img src="icons/community.svg" alt="Building Community Icon">
          <h3>A Definir</h3>
          <p>
            Lorem adipisicing elit. Illum temporibus atque odio velit fuga iste tempora eveniet ipsum non cupiditate a
            excepturi vero vitae ab ducimus sed quisquam, sit nostrum.
          </p>
        </div>
      </div>
    </section>

    <!---Sessão Artigo Informativos  -->

    <section>
      <article class="informational-text-session-four-start">
        <div class="text-image-container">
          <div class="text-content">
            <h1>Titulo a Definir</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ea sequi mollitia dignissimos aut
              asperiores ex hic nam doloremque consectetur eum beatae nemo impedit, dolorum id harum fugiat et odio.
              Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Soluta, neque. Nihil minus velit perferendis quasi
              tenetur tempora distinctio laudantium placeat. Cupiditate rerum optio architecto fugit ipsum! Adipisci
              nulla
              repellendus accusantium.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ea sequi mollitia dignissimos aut
              asperiores ex hic nam doloremque consectetur eum beatae nemo impedit, dolorum id harum fugiat et odio.
              Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Soluta, neque. Nihil minus velit perferendis quasi
              tenetur tempora distinctio laudantium placeat. Cupiditate rerum optio architecto fugit ipsum! Adipisci
              nulla
              repellendus accusantium.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ea sequi mollitia dignissimos aut
              asperiores ex hic nam doloremque consectetur eum beatae nemo impedit, dolorum id harum fugiat et odio.
              Lorem
              ipsum dolor sit amet consectetur adipisicing elit. Soluta, neque. Nihil minus velit perferendis quasi
              tenetur tempora distinctio laudantium placeat. Cupiditate rerum optio architecto fugit ipsum! Adipisci
              nulla
              repellendus accusantium.</p>
          </div>
          <div class="image-wrapper">
            <img src="../static\movies-picture\picture\taraturanoia.avif" alt="Imagem peixes">
          </div>
        </div>
      </article>
    </section>

    <section class="get-involved">
      <h1>Get Involved –<br>Rebuild Our Communities!</h1>
      <div class="options-container">
        <div class="option-box">
          <h2>A definir</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque temporibus, dignissimos, necessitatibus
            quae saepe, nisi eos explicabo distinctio autem harum sit debitis dolorem aperiam a! Expedita, quia. Ea,
            delectus reiciendis.
          </p>
          <button>A definir</button>
        </div>
        <div class="option-box">
          <h2>A definir</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque temporibus, dignissimos, necessitatibus
            quae saepe, nisi eos explicabo distinctio autem harum sit debitis dolorem aperiam a! Expedita, quia. Ea,
            delectus reiciendis.
          </p>
          <button>A definir</button>
        </div>
      </div>
    </section>

    <div style="background-color: white;">
      <section class="photo-img-phrase">
        <div class="image-phrase">
          <img src="../static/movies-picture/picture/montanha.avif" alt="">
          <div class="image-phrase-text">
            A<br><span>Definir</span>
          </div>
        </div>
      </section>
    </div>
  </main>

  <div class="container">
      <h1 class="form-title">Sign up to Our Mailing List</h1>
    <form action="#" method="POST" novalidate>
      <div class="grid">
        <div>
          <label for="firstName">Primeiro nome *</label>
          <input id="firstName" name="firstName" type="text" required />
        </div>
        <div>
          <label for="lastName">Sobrenome *</label>
          <input id="lastName" name="lastName" type="text" required />
        </div>
        <div class="full-span">
          <label for="email">Endereço de email *</label>
          <input id="email" name="email" type="email" required />
        </div>
      </div>
      <div class="checkbox-container">
        <input id="subscribe" name="subscribe" type="checkbox" required />
        <label for="subscribe">Sim, desejo receber curiosidades sobre o oceano. *</label>
      </div>
      <button type="submit">Enviar</button>
    </form>
  </div>
  <footer>
    <div class="footer-links">
      <a href="#">Termos &amp; Condições</a>
      <a href="#">Politica de Privacidade</a>
    </div>
    <div>©2025<a href="#"></a></div>
    <div class="footer-social" aria-label="Social media links">
      <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>

    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
  
</body>

</html>