<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Mar Escola de Mergulho</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="hero-container">

    <!-- Vídeo de fundo -->
    <video autoplay muted loop playsinline class="background-video">
      <source src="{{ url_for('static', filename='movies-picture/movie/video2.mp4') }}" type="video/mp4" />
      Seu navegador não suporta vídeos HTML5.
    </video>

    <!-- Sobreposição escura por cima do vídeo -->
    <div class="overlay"></div>

    <!-- Cabeçalho -->
    <header>
      <div class="logo-title" aria-label="Logo e nome do site">
        <div class="logo" aria-hidden="true">M</div>
        <div class="title-text">Marés da Cultura</div>
      </div>
      <nav aria-label="Navegação principal">
        <a href="#" class="active" aria-current="page">Início</a>
        <a href="#">Sobre</a>
      </nav>
    </header>

    <!-- Conteúdo principal -->

    <main class="main-start">
      <h1> Maré de histórias<br /> vivas.</h1>
      <p>A O oceano não guarda só águas profundas, mas histórias que moldam identidades.</p>
      <button class="btn-agendar" aria-label="Agendar agora">
        Conheça mais
      </button>
    </main>
  </div>

  <!-- Seção com efeito parallax -->
  <main class="main-second-part">
    <section class="parallax-section">
      <div class="parallax-content">
        <h2 class="title-sobre">​Sobre nós</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolore nemo modi dolorum natus alias deserunt?
          Quaerat alias nobis nam, at impedit error laudantium blanditiis dolore sunt eos exercitationem quisquam. Lorem
          ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, eius adipisci deserunt doloremque hic dolorum
          fugiat aperiam. Tempore reiciendis pariatur iste distinctio molestiae quisquam vitae. Commodi nemo molestiae
          labore quisquam.</p>
        <p>
          Nosso objetivo é documentar tradições, coletar relatos e valorizar o patrimônio cultural local, contribuindo
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nemo pariatur impedit, alias expedita unde
          quisquam quas praesentium quam tempore officiis itaque error iure placeat recusandae molestiae cupiditate
          maiores! Fugiat.
          . Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque magni odit non odio ipsum soluta temporibus
          pariatur vero aliquam, vel sequi molestias corrupti, sapiente reiciendis. Nostrum tempora laudantium
          repudiandae. Dolore?
        </p>
      </div>
    </section>
  </main>

  <main class="curiosidades-main">
    <section class="max-w-7xl mx-auto px-6 py-16">
      <h2 class="section-title">Titulo A Definir</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
        <article class="article-container">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#0c3a88" stroke-width="5" stroke-linecap="round"
              stroke-linejoin="round" aria-hidden="true" class="w-24 h-24" viewBox="0 0 64 64">
              <circle cx="20" cy="20" r="6"></circle>
              <path d="M14 40c10 0 14-12 14-12"></path>
              <path d="M20 46a14 14 0 0 1-14 14v-8c6-4 18-8 18-20"></path>
            </svg>
          </div>
          <h3 class="article-title">Beach Cleanups</h3>
          <p class="article-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus sequi eius voluptatum optio incidunt vitae
            non exercitationem, aspernatur aperiam minus corrupti consequuntur beatae veritatis voluptates voluptate
            eaque quia, molestiae eos? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil quos, et iusto
            nisi repellat pariatur vitae! Maiores nostrum, quo amet doloribus numquam dolores, debitis esse cum quis
            earum quam ipsa.
          </p>
        </article>
        <article class="article-container">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#0c3a88" stroke-width="5" stroke-linecap="round"
              stroke-linejoin="round" aria-hidden="true" class="w-24 h-24" viewBox="0 0 64 64">
              <circle cx="20" cy="20" r="6"></circle>
              <path d="M14 40c10 0 14-12 14-12"></path>
              <path d="M20 46a14 14 0 0 1-14 14v-8c6-4 18-8 18-20"></path>
            </svg>
          </div>
          <h3 class="article-title">Beach Cleanups</h3>
          <p class="article-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus sequi eius voluptatum optio incidunt vitae
            non exercitationem, aspernatur aperiam minus corrupti consequuntur beatae veritatis voluptates voluptate
            eaque quia, molestiae eos? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil quos, et iusto
            nisi repellat pariatur vitae! Maiores nostrum, quo amet doloribus numquam dolores, debitis esse cum quis
            earum quam ipsa.
          </p>
        </article>
        <article class="article-container">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#0c3a88" stroke-width="5" stroke-linecap="round"
              stroke-linejoin="round" aria-hidden="true" class="w-24 h-24" viewBox="0 0 64 64">
              <circle cx="20" cy="20" r="6"></circle>
              <path d="M14 40c10 0 14-12 14-12"></path>
              <path d="M20 46a14 14 0 0 1-14 14v-8c6-4 18-8 18-20"></path>
            </svg>
          </div>
          <h3 class="article-title">Beach Cleanups</h3>
          <p class="article-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus sequi eius voluptatum optio incidunt vitae
            non exercitationem, aspernatur aperiam minus corrupti consequuntur beatae veritatis voluptates voluptate
            eaque quia, molestiae eos? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil quos, et iusto
            nisi repellat pariatur vitae! Maiores nostrum, quo amet doloribus numquam dolores, debitis esse cum quis
            earum quam ipsa.
          </p>
        </article>
      </div>
    </section>
  </main>
  <main>
    <section class="container" aria-label="How Does It Work section">
      <div class="content">
        <h1>Titulo a Definir</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, sunt nobis rerum quis voluptatem corporis
          veritatis error laborum libero ducimus obcaecati molestias amet, itaque officiis, culpa voluptas at!
          Excepturi, libero?
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, neque officia voluptates, reiciendis
          eveniet ducimus numquam quidem officiis ex soluta quisquam vel saepe autem voluptatem omnis eligendi,
          repudiandae doloremque dicta!
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, sunt nobis rerum quis voluptatem corporis
          veritatis error laborum libero ducimus obcaecati molestias amet, itaque officiis, culpa voluptas at!
          Excepturi, libero?
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, neque officia voluptates, reiciendis
          eveniet ducimus numquam quidem officiis ex soluta quisquam vel saepe autem voluptatem omnis eligendi,
          repudiandae doloremque dicta!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae minima numquam culpa sunt eum fugit eligendi
          quod mollitia, eveniet neque fuga consequatur qui ullam quaerat doloribus autem voluptatem. Quidem, impedit!
        </p>
      </div>
      <div class="image-wrapper">
        <img src="../static/movies-picture/picture/Seção para Artigos/oceano e peixes.jpg" alt="" />
      </div>
    </section>

    <section class="mapa-container">
      <iframe class="mapa"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.4195843027915!2d-45.88900192470329!3d-23.264199050742157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdb540c679fb5d%3A0x282341aff1f51e1e!2sC.E.P.%20-%20CENTRO%20EDUCACIONAL%20PITILICOS!5e0!3m2!1spt-BR!2sbr!4v1753930073994!5m2!1spt-BR!2sbr"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </section>

    <!-- SEÇÃO DE CONTATO -->
    <section class="section-contato">
      <div class="section-contato-container">
        <!-- ESQUERDA -->
        <div class="section-contato-left">
          <h2>Contato</h2>
          <p>Nosso Endereço</p>
          <p>Nosso Número</p>
          <p>Nosso Número</p>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>

        <!-- DIREITA -->
        <div class="section-contato-right">
          <form>
            <div class="form-row">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome">
              </div>
              <div class="form-group">
                <label>Sobrenome</label>
                <input type="text" name="sobrenome">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label>Email *</label>
                <input type="email" name="email" required>
              </div>
              <div class="form-group">
                <label>Telefone *</label>
                <input type="tel" name="telefone" required>
              </div>
            </div>
            <div class="form-group">
              <label>Insira sua mensagem aqui</label>
              <textarea rows="4" name="mensagem"></textarea>
            </div>
            <button class="botao-enviar">Enviar</button>

          </form>
        </div>
      </div>
    </section>
</body>

</html>